parameters:
    level: 8
    paths:
        - public
        - src
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false